<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/404.css">
</head>

<body style="background-color: #070724;background-image: url('images/background-stars.svg')">
    <div style="display: flex; justify-content:center">
        <h1 style="color: white;">Oi, to com preguiça de fazer a pagina 404 então é só isso ;)</h1>
    </div>
    <center>
        <a href="/"> <button
                style="background-color: transparent; border:1px solid grey; width:200px; color:white; height: 50px; font-size: 20px; cursor: pointer; border-radius: 5px;">Voltar
                ao Home</button></a>
    </center>
</body>

</html>