<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>

    <div class="animation-test">
        <header>
            <div class="container">
                <div class="fist-div-header">
                    <h2>THE PLANETS</h2>
                </div>
                <div class="second-div-header">
                    <ul class="list">
                        <li><a href="mercury">MERCURY</a> </li>
                        <li><a href="venus">VENUS</a> </li>
                        <li><a href="#">EARTH</a> </li>
                        <li><a href="mars">MARS</a> </li>
                        <li><a href="jupiter">JUPITER</a> </li>
                        <li><a href="saturn">SATURN</a> </li>
                        <li><a href="uranus">URANUS</a> </li>
                        <li id="lis"><a href="neptune">NEPTURNE</a> </li>
                    </ul>
                    <div class="menu-mobile">
                        <img src="/images/icon-menu.svg" alt="" id="menu-img">
                    </div>
                </div>
            </div>
        </header>
        <div class="menu-mobile-div">
            <div class="container-mobile-div">
                <div class="mobile-btns-div" style="margin-top: 30px;">
                    <div class="img-b" style="background-color: rgb(65, 158, 187);"></div>
                    <div class="b"><a href="mercury"><button>MERCURY</button></a></div>
                </div>
                <div class="mobile-btns-div">
                    <div class="img-b" style="background-color:rgb(237, 162, 73)"></div>
                    <div class="b"><a href="venus"><button>VENUS</button></a></div>
                </div>
                <div class="mobile-btns-div">
                    <div class="img-b" style="background-color: rgb(109, 46, 213)"></div>
                    <div class="b"><a href="#"><button>EARTH</button></a> </div>
                </div>
                <div class="mobile-btns-div">
                    <div class="img-b" style="background-color: rgb(209, 76, 50);"></div>
                    <div class="b"><a href="mars"> <button>MARS</button></a></div>
                </div>
                <div class="mobile-btns-div">
                    <div class="img-b" style="background-color:rgb(216, 58, 52) ;"></div>
                    <div class="b"><a href="jupiter"><button>JUPITER</button></a> </div>
                </div>
                <div class="mobile-btns-div">
                    <div class="img-b" style="background-color:rgb(205, 81, 32)"></div>
                    <div class="b"><a href="saturn"><button>SATURN</button></a> </div>
                </div>
                <div class="mobile-btns-div">
                    <div class="img-b" style="background-color:rgb(30, 193, 162)"></div>
                    <div class="b"><a href="uranus"><button>URANUS</button></a> </div>
                </div>
                <div class="mobile-btns-div">
                    <div class="img-b" style="background-color: rgb(45, 104, 240);"></div>
                    <div class="b"><a href="neptune"><button>NEPTURNE</button></a> </div>
                </div>
            </div>
        </div>
        <div class="buttons-mobile">
            <div class="btn-mobile-1"><button class="btn-m" id="btn-m-f">OVERVIEW</button></div>
            <div class="btn-mobile-2"><button class="btn-m" id="btn-m-s">STRUCTURE</button></div>
            <div class="btn-mobile-3"><button class="btn-m" id="btn-m-l">SURFACE</button></div>
        </div>

        <main>
            <div class="div-img"><img src="/images/planet-earth.svg" alt="" id="js_img">
                <img src="/images/geology-earth.png" alt="" id="geology">
            </div>
            <div class="div-text">
                <div class="container-div-text">
                    <div class="first-text">
                        <h1>EARTH</h1>
                        <p id="js_text" class="animate__animated animate__jackInTheBox">Third planet from the Sun and
                            the only known planet to harbor life. About 29.2%
                            of
                            Earth's
                            surface is
                            land with remaining 70.8% is covered with water. Earth's distance from the Sun, physical
                            properties
                            and geological history have allowed life to evolve and thrive.
                        </p>
                        <div class="source-div">
                            <span>Source : <a href="#" id="wiki">Wikipedia</a> </span>
                        </div>
                    </div>
                    <div class="div-buttons">
                        <div class="buttons-container">
                            <div>
                                <button id="overview" class="button"><span class="num"
                                        id="one">01</span>OVERVIEW</button>
                            </div>
                            <div>
                                <button id="internal" class="button"><span class="num">02</span> INTERNAL
                                    STRUCTURE</button>
                            </div>
                            <div>
                                <button id="surface" class="button"><span class="num">03</span> SURFACE
                                    GEOLOGY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <section>
            <div class="container-sec">

                <div class="first-section-div a">
                    <div class="section-container">
                        <div class="section-container-flex1">
                            <h4>ROTATION TIME</h4>
                        </div>
                        <div class="section-container-flex2">
                            <h2><span id="rotation-time">1</span> DAYS</h2>
                        </div>
                    </div>
                </div>
                <div class="second-section-div a">
                    <div class="section-container">
                        <div class="section-container-flex1">
                            <h4>REVOLUTION TIME</h4>
                        </div>
                        <div class="section-container-flex2">
                            <h2><span id="revolution-time">365</span> DAYS</h2>
                        </div>
                    </div>
                </div>
                <div class="third-section-div a">
                    <div class="section-container">
                        <div class="section-container-flex1">
                            <h4>RADIUS</h4>
                        </div>
                        <div class="section-container-flex2">
                            <h2><span id="radius-1">6</span>,<span class="radius-2">371</span> KM</h2>
                        </div>
                    </div>
                </div>
                <div class="last-section-div a" style="margin-right: 0;">
                    <div class="section-container">
                        <div class="section-container-flex1">
                            <h4>AVERAGE TEMP</h4>
                        </div>
                        <div class="section-container-flex2">
                            <h2><span id="temp">16</span> °C</h2>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <script src="js/jquery-2.2.1.js"></script>
    <script src="js/script.js"></script>

</body>

</html>